<form action="/search" method="get">
  <div class="bg-white-bg m-5 w-full rounded-3xl border p-3 text-17px border-black-faint flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
    </svg>
    <input class="focus:outline-none mx-3 max-w-md text-lg" required maxlength=1000 minlength=0 type="text"
      value="{{ search_field_value }}" name="query" placeholder="hatsune miku, analog, etc." id="query">
  </div>
</form>